@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;300;400;500;700&display=swap');

html, body{
  height: 100%;
}

body{
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background-color: #f0e6ef;
  color: #6A4C93;
}

button{
  background-color: #FFCA3A;
  padding: 0 45px;
  border: 2px solid #000;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  transition: .4s;
}

button:hover{
  background-color: #e1b231;
}